# default image tag, example: "2.5.4".  "default" will download the latest. (-i)
IMAGETAG="default"

# default ca image tag, example: "1.5.7". "default" will download the latest. (-cai)
CA_IMAGETAG="default"

# max number of retries before giving up (-r)
MAX_RETRY=5

# default for delay between commands (-d)
CLI_DELAY=3

# channel name defaults to "mychannel" (-c)
CHANNEL_NAME="mychannel"

# Organisation Name
ORG=edda

# Organisation Domain Name
ORG_DOMAIN=edda.lu